        body {
            font-family: 'Quicksand', sans-serif;
        }

        .w3-content {
            max-width: 100%;
        }

        .brand {
            display: inline-block;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            cursor: default;
        }

        .brand:hover {
            background: none !important;
        }

        .brand>a:link {
            text-decoration: none;
        }

        .brand>span.s {
            color: #EE8C00;
            text-transform: uppercase;
        }

        .brand>span.p {
            color: #584D3F;
        }

        #contact {
            padding-left: 2em;
            padding-right: 2em;
        }

        #services:before {
            display: block;
            content: " ";
            margin-top: -20px;
            height: 20px;
            visibility: hidden;
        }

        nav {
            position: fixed;
            top: 0;
            z-index: 1;
            background: white;
        }

        nav>.menu {
            float: right;
        }

        .mobile.menu {
            float: none;
            width: 100%;
            padding: 0;
            display: block;
            position: fixed;
            top: 43px;
        }

        .mobile.menu li {
            background: white;
        }

        i.fa {
            color: #EE8C00;
        }

        .menu {
            background-repeat: repeat-x;
            text-align: center;
            clear: both;
            display: inline-block;
        }

        ul.menu {
            list-style-type: none;
            list-style-image: none;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0;
            padding-left: 0;
        }

        ul.menu li {
            display: inline;
        }

        ul.menu li a {
            text-decoration: none;
        }

        nav .menu li a {
            display: block;
        }

        footer ul.menu li a {
            text-decoration: underline;
        }

        header a:hover,
        .w3-content a:hover,
        footer ul.menu li a:hover {
            text-decoration: none;
        }

        #home span,
        #home>p {
            background-color: rgba(20, 20, 20, 0.55);
            border-radius: 0.5em;
            box-shadow: 0 0 10px rgba(20, 20, 20, 0.55);
            transition: opacity .5s ease-in-out;
            color: white;
            padding: 0.15em;
        }

        section {
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 1em;
        }

        section:nth-child(2) {
            border-top: 1px solid #eaebec;
            border-bottom: 1px solid #eaebec;
            background: #F7F8FA;
        }

        #home>p {
            margin-top: 0;
            padding-top: 1em;
        }

        #home>h1 {
            margin-bottom: 0;
        }

        footer {
            background: grey;
            color: white;
        }

        footer .menu {
            margin-top: 1em;
            float: right;
        }

        footer ul.menu>li {
            border-right: 1px black solid;
            padding-left: 10pt;
            padding-right: 10pt;
        }

        .contact {
            display: table;
        }

        .contact-row {
            display: table-row;
        }

        .contact-cell {
            display: table-cell;
        }

        /* @media (min-width: 601px) and (max-width:669px) {
    #mNav.mobile.menu li {
        display: unset!important;
    }
    .menu li {
        display: none!important;
    }
    #hamburger {
        display: unset!important;
    }
} */

        @media (max-width: 992px) {
            .contact {
                width: 75%;
            }
            #profiles {
                display: none;
            }
        }

        @media (max-width: 601px) {
            footer .menu {
                text-align: center;
                float: none;
                width: 100%;
            }
            footer ul.menu>li {
                display: block;
                border: 0;
            }
            footer p {
                text-align: center;
            }
            .contact {
                width: 100%;
            }
            #home {
                width: 75%;
            }
        }

        @media (max-width: 490px) {
            .contact {
                display: initial;
            }
            .contact-row {
                display: block;
            }
            .contact-cell {
                display: block;
            }
            section h2 {
                text-align: center;
            }
            section h2 i {
                display: block !important;
            }
            #home span,
            #home>p {
                border-radius: 0;
            }
        }

        @media (min-width: 1300px) {
            header {
                background-position: 0 -150px;
            }
        }

        /*footer p {
    margin-top: 0;
}*/

        footer ul.menu>li:last-child {
            border-right: none;
        }

        header {
            max-width: 100vw;
            height: 80vh;
            background-image: url(../img/hr2.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: #FFF;
            padding: 40pt;
            font-weight: 600;
            letter-spacing: 2px;
        }

        .container {
            width: inherit;
        }

        h1 {
            text-align: center;
        }

        section>h1 {
            line-height: 90%;
            padding-top: 0.5em;
        }

        section>h1::after {
            white-space: pre;
            /* or pre-wrap */
            content: "\A ____";
            position: relative;
            /*z-index: -1;*/
            top: -14px;
            bottom: 0;
            padding-left: 7px;
            padding-right: 7px;
            color: #EE8C00;
            line-height: 0%;
        }

        h2,
        h1 {
            color: #584D3F;
        }

        h3 {
            color: #ED8C01;
        }

        .sub-section {
            padding-bottom: 0.15em;
        }

        #contact {
            line-height: 1.3em;
        }

        .profile {
            width: 20%;
            float: left;
            margin: 0.5em;
        }

        .profile h4 {
            text-align: center;
        }

        .profile img {
            width: 100%;
        }

        /* document request pages */

        .row {
            display: table-row;
        }

        .cell {
            display: table-cell;
            padding: 5pt;
        }

        .cell i {
            display: block;
            font-size: 50pt;
            text-align: center;
            color: #583F55;
        }

        .row label {
            display: table-cell;
            padding: 0.5em;
        }

        .login-buttons-table {
            margin: auto;
            width: 150pt;
        }

        .row input,
        .row button {
            display: table-cell;
        }